.Tweets {
  .tweet-wrap {
    .tweet-right {
      .auth {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        .auth-left {
            display: flex;
          .nameAuth {
            margin-right: 10px;
          }
        }

       
      }
    }
  }
}
