.Tweets {
  padding: 20px 0;
  // border-bottom : 1px solid black;
  position:relative;
  &::after {
    content: '';
    width: calc(100% + (35px));
    height: 1px;
    position: absolute;
    background-color: var(--border-color);
    bottom: 0;
    left: -18px;
  }
  .tweet-wrap {
    .tweet-right {
      padding-left: 0;
      .auth {
        display: flex;
        // margin-bottom: 10px;
        justify-content: space-between;
        .auth-left {
            display: flex;
          .nameAuth {
            margin-right: 10px;
          }
        }

       
      }

    }
  }
}
