.Tweets{
    .tweet-wrap{
        .tweet-right{
            .auth{
                display: flex;
                margin-bottom: 10px;
                .nameAuth {
                    margin-right: 10px;
                }
            }
        }
    }
}