*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    font-family: 'Inter';
    box-sizing: border-box;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
