.w{
    width: 100%;
    .tk{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fl1{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 10px;
            .avatar{
                width: 60px;
            }
            .name{
                .name1{
                    font-weight: 600;
                }
                .name2{
                    color: rgb(87, 86, 86);
                }
            }
        }
        .menu{
            width: 30px;
        }
    }
}