.w{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    &:hover{
        background-color: rgb(201, 200, 200);
        border-radius: 50px;
    }
    .tk{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fl1{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 10px;
            .avatar{
                width: 60px;
            }
            .name{
                .name1{
                    font-weight: 600;
                }
                .name2{
                    color: rgb(87, 86, 86);
                }
            }
        }
        // .menu{
        //     padding: 5px 5px 1px 5px;
        //     &:hover{
        //         background-color: rgb(201, 200, 200);
                
        //         border-radius: 50px;
                
        //     }
        // }
        .menu-icon svg {
            margin-right: 10px;
            padding: 6px 6px;
            width: 35px;
            height: 35px;
            color: black;
            &:hover {
              background: rgba($color: rgb(201, 200, 200), $alpha: 0.3);
              border-radius: 50%;
              color: black;
            }
          }
    }
}