.displayViewMode{
    // width: 90%;
    display: flex;
    align-items: center;
    color: #1D9bf0;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(235, 229, 229);
    svg {
        font-size: 20px;
        margin-right: 4px;
    }
}