// *{
//     box-sizing: border-box;
//     margin: 0;
// }

.Trending {
  .Trending-wrapper {
    .Trending-form {
      background-color: rgba(0, 0, 0, 0.03);
      border-top: 1px solid rgba(0, 0, 0, 0.03);
      border-radius: 9px;
      width: 100%;
      //   position: relative;
      .Trending-header {
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 0 4%;
      }
      .Trending-content {
        margin: 3% 0;
        display: flex;
        &:hover {
          background-color: rgba(204, 204, 204, 0.696);
          cursor: pointer;
        }
        .Trend {
          // display:none;
          width: 90%;
          p {
            margin: 2% 0 0 5%;
          }
          .Trending-address {
            color: #536471;
          }
          .Trending-title {
            font-size: 15px;
            font-weight: bold;
            color: #0f1419;
          }
          .Trending-view {
            color: #536471;
            padding-bottom: 4%;
          }
        }
        .seeMore {
          //    display:none;
          display: inline-block;
          height: 1%;
          .btn-seemore {
            font-size: 24px;
          }
          &:hover {
            background: rgba($color: rgb(107, 187, 233), $alpha: 0.3);
            border-radius: 50%;
            color: #1d9bf0;
          }
        }
        .modal-seemore-open {
          position: absolute;
          background-color: #fff;
          margin-left: 10%;
          width: 278px;
          height: 104px;
          border-radius: 5px;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
          .modal-no {
            display: flex;
            align-items: center;
            height: 50%;
            padding-left: 10%;
            .modal-icon {
              padding-right: 5%;
            }
            &:hover {
              background-color: #ccc;
            }
          }
          .modal-yes {
            display: flex;
            align-items: center;
            height: 50%;
            padding-left: 10%;
            .modal-icon {
              padding-right: 5%;
            }
            &:hover {
              background-color: #ccc;
            }
          }
        }
        .modal-seemore-close {
          display: none;
        }
      }

      .pages {
        padding: 0 0 2% 5%;
        color: #1d9bf0;
      }
    }
  }
}
