.interaction {
  margin: 10px 0;
  .interaction-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 84%;
    .interaction-item {
      display: flex;
      text-align: center;

      align-items: center;

      color: rgb(83, 100, 113);
      .icon {
        // margin-top: 4px;
        padding: 8px 8px 4px 8px;
        // text-align: center;
      }
      svg {
        font-size: 16px;
      }
    }
    .Reply {
      &:hover {
        color: rgb(29, 155, 240);
        .icon {
          background: rgba(29, 155, 240, 0.1);
          border-radius: 50%;
        }
      }
    }
    .ReTweet {
      &:hover {
        color: rgb(0, 186, 124);
        .icon {
          background: rgba(0, 186, 124, 0.1);
          border-radius: 50%;
        }
      }
    }
    .Like {
      &:hover {
        color: rgb(249, 24, 128);
        .icon {
          background: rgba(249, 24, 128, 0.1);
          border-radius: 50%;
        }
      }
    }
    .Share {
      &:hover {
        color: rgb(29, 155, 240);
        .icon {
          background: rgba(29, 155, 240, 0.1);
          border-radius: 50%;
        }
      }
    }
  }
}
