

.search{
    top: 0;
    position: fixed; 
    width: 81%;
    margin-top: 0.5%;
    z-index: 1;
    
    .search-wrap{
        .search-description{
            margin-left: 2%;
            width: 28%;
            height: 44px;
            background-color: #ccc;
            display: flex;
            line-height: 40px;
            border-radius: 25px;
            .search-button{
                padding-top: 1%;
                #search-btn{
                    padding-left: 100%;
                    font-size: 20px
                }
            }
            .search-input{
                #searchInput{
                    background-color: #ccc;
                    border: none;
                    outline: none;
                    height: 30px;
                    width: 19%;
                    margin-top: 1%;
                }
            }
        }  
    }
}

    
