

.search{
    top: 0;
    position: fixed; 
    width: 100%;
    margin-top: 0.5%;
    
    .search-wrap{
        .search-description{
            margin-left: 3%;
            width: 25%;
            height: 40px;
            background-color: #ccc;
            display:flex;
            line-height:40px;
            border-radius:25px;
            .search-button{
                #search-btn{
                    padding-left: 100%;
                    font-size: 20px
                }
            }
            .search-input{
                width: 80%;
                padding-left: 10%;
                #searchInput{
                    background-color: #ccc;
                    border: none;
                    outline: none;
                    height: 30px;
                    width: 19%;
                    margin-top: 1%;
                }
            }
        }  
    }
}

    
